<mat-card class="small-container" >
    <table style="width:100%">
        <div *ngIf="progress">
 <div *ngFor="let item of progress, let i = index">
                <tr>
                  <td><h1>Date: {{item.date}}</h1></td>
                  <td>
                     <tr><h3 *ngIf="i===0">Initial weight: {{item.initialWeight}}</h3></tr> 
                    <tr><h3>Current weight: {{item.currentWeight}}</h3></tr>
                </td> 
                </tr>
    </div></div></table>
</mat-card>
