/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*font-family: 'Alegreya Sans', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Oswald', sans-serif;*/
h1{
    color:#eec302; 
    font-family: 'Oswald', sans-serif;
    padding: 8px 14px 0;
}
h3
{
    color:#4b4650;
    font-family: 'Slabo 27px', serif;
    padding: 2px 14px 0;
}

.warning{
  color: #da0f3b
}
.basic-container {
    padding: 5px;
  }

  .version-info {
    font-size: 8pt;
    float: right;
  }
  .example-full-width {
    width: 100%;
  }

  .example-half-width {
    width: 80%;
  }
  .center-block {
    background: rgb(255, 255, 255);
    border-radius: 3em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    min-height: 380px;
    box-shadow: 1px 1px 9px grey;
}
.start_header
{
  background-image: url(assets/header.jpg);
  min-height: 400px;
  background-size:cover;
  margin-top: 0;
}
.home_background
{
  background-image: url(assets/FORWebsite.jpg);
  background-size:cover;
  margin-top: 0;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
.web_headers
{
  color: #4b4650;
}
aside {
	float: left;
  width: 300px;
}
section {
	margin-left: 330px;
  padding-bottom: 50px;
 
}
#wrapper {
	max-width: 1060px;
  margin: auto;
  background-color: rgba(255,255,255,0.8);
  height: 100%;
}
header {
	padding: 20px 0;
}
.sidenav_conteiners
{
  margin-top: 3px;
  margin-left:50px;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 600px;
  min-height: 500px;
  background-color: white;
}
.small-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  min-height: 300px;
  background-color: white;
}
.small_font
{
  color:#4b4650;
    font-family: 'Slabo 17px', serif;
    padding-top: 2px;
    padding: 2px,2px,2px,2px;
}
.white_font{
  color: white;
  padding-top: 120px;
}