<h1>Today's Menu</h1>
<div *ngIf="myMealsByDate">
<ul *ngFor="let meals of myMealsByDate">
    <li  role="listitem"><p class="small_font" >{{meals.product.productName}} {{meals.weight}} gr., </p>
<p class="small_font"  >{{meals.weight*meals.product.calorieCount*0.01  | number : '1.2-2'}} ccal</li>
</ul>
</div>
<div *ngIf="!myMealsByDate"><h3>Add something!</h3></div>