<mat-card class="small-container">
    <form #vipuserdata="ngForm" >   
  <mat-radio-group class="example-radio-group" name="selectgender" [(ngModel)]="selectedGender">
    <mat-radio-button class="example-radio-button" *ngFor="let item of gender" [value]="item">
      {{item}}
    </mat-radio-button>
  </mat-radio-group>

  <table style="width:100%">
      <td>
        <tr>
          <h3>
            <input class="border" matInput placeholder="Day" [(ngModel)]="day" name="day"  required type="number" maxlength="2"
              minlength="2" />
          </h3>
        </tr>
      </td>
      <td>
        <tr>
          <h3>
            <input class="border" matInput placeholder="Month" [(ngModel)]="month" name="month"  required type="number" maxlength="2" 
              minlength="2" />
          </h3>
        </tr>
      </td>
      <td>
        <tr>
          <h3>
            <input class="border" matInput placeholder="Year" [(ngModel)]="year" name="year" required type="number" maxlength="4"
              minlength="4" />
          </h3>
        </tr>
      </td>
  </table>
  <mat-form-field class="example-half-width" >
  <input matInput placeholder="Height in cm." [(ngModel)]="height" name="height"  required type="number" maxlength="3"
  minlength="2" /></mat-form-field>
  <button mat-raised-button class="btn btn-success" color="accent" (click)="addOrUpdate(day,month,year,height,selectedGender)">Add/Update</button>
  <h3 class="warning" *ngIf="message">{{message}}</h3>
</form>
</mat-card>