<body class="home_background">
  <div id="wrapper">
    <header>
      <h3>
        <a [routerLink]="['']">Logout</a>
      </h3>

    </header>
    <aside>
      <mat-card class="sidenav_conteiners">
        <h1>Account info</h1>
        <h3>Username: <b>{{currentUser.username}}</b></h3>
        <h3>Account: <b>{{role}}</b></h3>
      </mat-card>
      <mat-card class="sidenav_conteiners">
        <app-mymealsbydate></app-mymealsbydate>
      </mat-card>
    </aside>
    <section>
      <mat-tab-group #tabGroup (selectedTabChange)="tabChanged()">
        <mat-tab label="Home" #1 >
          <h1 class="web_headers">SEARCH FOR PRODUTCTS</h1>
          <product-list></product-list>
        </mat-tab>
        <mat-tab label="Add products" #2>
          <h1 class="web_headers">ADD NEW PRODUCT</h1>
          <app-addproduct></app-addproduct>
        </mat-tab>
        <mat-tab *ngIf="isvip" label="My progress" #3>
            <h1 class="web_headers">MY PROGRESS</h1>   
            <app-vipprogress></app-vipprogress> 
          </mat-tab>
          <mat-tab *ngIf="isvip" label="Personal data" #4>
            <h1 class="web_headers">MY PERSONAL DATA</h1>   
            <app-addvipuserdata></app-addvipuserdata> 
          </mat-tab>
      </mat-tab-group>
    </section>
  </div>
</body>