<form #loginform="ngForm" (ngSubmit)="loginform.form.valid" class="example-form" novalidate>      
  <h1>Login</h1>
  <mat-list role="list">
      <mat-list-item role="listitem">
  <mat-form-field class="example-full-width" >
    <!--  <div class="form-group" [ngClass]="{ 'has-error': loginform.submitted && !username.valid }">-->
    <input matInput placeholder="Username"  name="username" [(ngModel)]="model.username" #username="ngModel" required type="text" required ng-minlength="4" ng-maxlength="100"/>
   <!--  <div *ngIf="loginform.submitted && !username.valid" class="help-block">Username is not valid!</div>-->
 </mat-form-field>
 </mat-list-item>
 <mat-list-item role="listitem">
 <mat-form-field class="example-full-width">
  <!--  <div class="form-group" [ngClass]="{ 'has-error': loginform.submitted && !password.valid }">-->
    <input matInput placeholder="Password"  name="password" [(ngModel)]="model.password" required type="password" [(ngModel)]="model.password" required ng-minlength="4" ng-maxlength="100"/>
    <!--<div *ngIf="loginform.submitted && !password.valid" class="help-block">Password is not valid!</div>-->
  </mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
  <button mat-raised-button class="btn btn-success" color="accent" (click)="login()">Submit</button>
</mat-list-item>
<mat-list-item role="listitem">
  <button mat-raised-button class="btn btn-success" (click)="change(false)">Create new account</button>
</mat-list-item>
<mat-list-item role="listitem">
<h3 *ngIf="error" class="warning">{{error}}</h3> 
</mat-list-item>
</mat-list>
</form>
