<body>
<header class="start_header"><h1 class="white_font">A BETTER FOOD DIARY EXPERIENCE</h1>
</header>

<div class="center-block" *ngIf="hasaccount">
<app-authentication (onChanged)="onChanged($event)"></app-authentication >
</div>
<div class="center-block" *ngIf="!hasaccount">
    <app-registration (onRegisterChanged)="onRegisterChanged($event)"></app-registration>
    </div>
</body>