<mat-card class="small-container">
<form #addproductsform="ngForm" >      
  <h3>Nutrition value per 100 grams</h3>
     <mat-form-field class="example-full-width">
    <input matInput placeholder="Product name" [(ngModel)]="product.productName" name="productname" #productname="ngModel" required type="text"/>
  </mat-form-field>
  <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile> 
  <mat-form-field class="example-half-width" >
  <input matInput placeholder="Ccal" [(ngModel)]="product.calorieCount" name="caloriecount" #caloriecount="ngModel" required type="number"/>
  </mat-form-field>
</mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-half-width" >
          <input matInput placeholder="Fat" [(ngModel)]="product.fat" name="fat" #fat="ngModel" required type="number"/> 
          </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-half-width" >
          <input matInput placeholder="Protein" [(ngModel)]="product.protein" name="protein" #protein="ngModel" required type="number"/>
          </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-half-width" >
      <input matInput placeholder="Carbohydrates" [(ngModel)]="product.carbo" name="carbo" #carbo="ngModel" required type="number"/>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button  [disabled]="productname.invalid || caloriecount.invalid || fat.invalid || protein.invalid || carbo.invalid" mat-raised-button class="btn btn-success" (click)="save(product)">Save</button>
     <h3>{{message}}</h3>
</form>
</mat-card>
