<form #SingInform="ngForm" class="example-form" novalidate>       
    <h1>Sing in</h1>
    <mat-list role="list">
        <mat-list-item role="listitem">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username length (3-15) symbols" #username="ngModel" [(ngModel)]="model.username" name="username" required type="text" required minlength="3" maxlength="15"/>
   </mat-form-field>
   </mat-list-item>
   <mat-list-item role="listitem">
   <mat-form-field class="example-full-width">
      <input matInput placeholder="Password length (5-20) symbols" #password="ngModel" [(ngModel)]="model.password"  name="password" required type="password" minlength="5" maxlength="20"/>
    </mat-form-field>
  </mat-list-item>
  <mat-list-item role="listitem">
      <mat-form-field class="example-full-width">
         <input matInput placeholder="Confirm password" #passwordconfirm="ngModel" [(ngModel)]="confirmpassword" name="passwordconfirm" required type="password" minlength="5" maxlength="20"/>
       </mat-form-field>
      </mat-list-item>
       <mat-list-item role="listitem">
       <div *ngIf="notconfirmed">
       <h3 class="warning">Password confirmation failed!</h3>
      </div>
          <h3 *ngIf="error" class="warning">{{error}}</h3> 
    </mat-list-item>
     <mat-list-item role="listitem">
     <mat-checkbox [(ngModel)]="checked" name="isvip"><h3>I want Vip account!</h3></mat-checkbox>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-raised-button class="btn btn-success" color="accent" [disabled]="username.invalid || password.invalid || passwordconfirm.invalid" (click)="registration()" >Submit</button>
  </mat-list-item>
    <mat-list-item role="listitem">
      <button mat-raised-button class="btn btn-success" (click)="change(true)">Go back to login page</button>
  </mat-list-item>
</mat-list>
  </form>