<form #meal="ngForm" class="example-form" novalidate>   
<h1 mat-dialog-title>Add {{data.producttoadd.productName}} to your mealslist</h1>
<div mat-dialog-content>

  <mat-form-field >
      <input matInput placeholder="Weight in grams" #productweight name="weight" [(ngModel)]="weight" required minlength="1" maxlength="4" type="number" />
      </mat-form-field>
      <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile> 
          <h3>Ccal: {{productweight.value*data.producttoadd.calorieCount*0.01  | number : '1.2-2'}}</h3>
        </mat-grid-tile>
          <mat-grid-tile>
              <h3>Fat: {{productweight.value*data.producttoadd.fat*0.01  | number : '1.2-2'}}</h3>
          </mat-grid-tile>
          <mat-grid-tile>
              <h3>Protein: {{productweight.value*data.producttoadd.protein*0.01  | number : '1.2-2'}}</h3>
          </mat-grid-tile>
          <mat-grid-tile>
              <h3>Carbo: {{productweight.value*data.producttoadd.carbo*0.01  | number : '1.2-2'}}</h3>
            </mat-grid-tile>
          </mat-grid-list>
</div>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="weight" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>