<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  
    <mat-table #productstable [dataSource]="dataSource">
  
   
      <ng-container matColumnDef="productname">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.productName}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="caloriecount">
        <mat-header-cell *matHeaderCellDef> Ccal </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.calorieCount}}</mat-cell>
      </ng-container>
  
    
      <ng-container matColumnDef="fat">
        <mat-header-cell *matHeaderCellDef> Fat </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fat}} </mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="protein">
        <mat-header-cell *matHeaderCellDef> Protein </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.protein}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="carbo">
        <mat-header-cell *matHeaderCellDef> Carbohidrates </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.carbo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="addmeal">
      <mat-header-cell *matHeaderCellDef> Add meal </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <button mat-raised-button class="btn btn-success" color="accent" (click)="openDialog(element)">Add meal</button></mat-cell>
    </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>